@model PierresTreats.Models.Treat
@{
  ViewBag.Title = "Add Flavor";
}

<h2>Add Flavor to @Model.Name</h2>

<form method="post" asp-controller="Treats" asp-action="AddFlavor" asp-route-id="@Model.TreatId">
  <div class="form-group">
    <label for="FlavorId">Flavor:</label>
    <select class="form-control" id="FlavorId" name="FlavorId" asp-items="ViewBag.FlavorId">
      <option value="0">--Select Flavor--</option>
    </select>
  </div>
  <input type="hidden" name="TreatId" value="@Model.TreatId" />
  <input type="hidden" name="Name" value="@Model.Name" />
  <button type="submit" class="btn btn-primary">Add</button>
</form>
