@model PierresTreats.Models.Treat

<h2>@Model.Name Details</h2>

<p>
  <a asp-action="Edit" asp-route-id="@Model.TreatId">Edit</a> |
  <a asp-action="Delete" asp-route-id="@Model.TreatId">Delete</a>
</p>
