@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Treats!</h1>
    <p>Explore our delicious collection of treats and flavors.</p>
    <p>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Treats">View Treats</a>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Flavors">View Flavors</a>
    </p>
    <img src="~/images/PierresTreats.png" alt="Your Logo" />
</div>
