@model PierresTreats.Models.Flavor

<h2>Create a new Flavor</h2>

<form asp-action="Create">
  <div class="form-group">
    <label asp-for="Name">Flavor Name</label>
    <input asp-for="Name" class="form-control" />
  </div>
  <input type="submit" value="Create" class="btn btn-primary" />
</form>
