@model PierresTreats.Models.Flavor

<h2>Delete @Model.Name?</h2>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.FlavorId" method="post">
  <input type="submit" value="Delete" class="btn btn-danger" />
</form>
